/Lab_2-4/Backend/News/bin/
/Lab_2-4/Backend/News/obj/
/Lab_2-4/Backend/News/.vs/

/Lab_2-4/Backend/News/Migrations/
/Lab_2-4/Backend/News/*.mdf
/Lab_2-4/Backend/News/*.ldf

Lab_2-4/Backend/News/appsettings.json
Lab_2-4/Backend/News/appsettings.*json

Lab_2-4/Frontend/newsstand/.next/
Lab_2-4/Frontend/newsstand/node_modules/
Lab_2-4/Frontend/node_modules/
Lab_2-4/Frontend/newsstand/.npm/
Lab_2-4/Frontend/newsstand/.yarn/
Lab_2-4/Frontend/newsstand/.yarn-cache/

Lab_2-4/.npm/
Lab_2-4/.npm-cache/
Lab_2-4/.yarn/
Lab_2-4/.yarn-cache/
Lab_2-4/.yarnrc.yml
.pnp.*

Lab_2-4/npm-debug.log*
Lab_2-4/yarn-debug.log*
Lab_2-4/yarn-error.log*

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

.vscode/
.idea/
.vs/
.vsconfig/
*.suo
*.user
*.userosscache
*.sln.docstates
settings.json

/docker-compose.override.yml
Dockerfile

wwwroot/
*.cab
*.msi
*.msm
*.msp

*.bak
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.tmp